# Students Do: Predicting Fraudulent Loans Applications

According to the American Bankers Association, [_"every dollar of fraud now costs banks and credit unions roughly $2.92"_](https://www.aba.com/member-tools/industry-solutions/insights/state-card-fraud-2018), that's a reason why predicting fraud using machine learning techniques becomes a [broad area of research](https://scholar.google.com.mx/scholar?q=fraud+detection+machine+learning&btnG=&oq=fraud+detection+) and a great [business opportunity for FinTech startups](https://www.eu-startups.com/2019/06/paris-based-fintech-bleckwen-raises-e8-8-million-for-its-fraud-detection-software-to-prevent-financial-crime/).

In this activity, you are going to explore how tree based algorithms can be used to identify fraudulent loan applications. You will start using a decision tree model, that will be trained with the `sba_loans_encoded.csv` file that you created before.

In [1]:
# Initial imports
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Needed for decision tree visualization
import pydotplus
from IPython.display import Image

## Loading and Preprocessing Loans Encoded Data

Load the `sba_loans_encoded.csv` in a pandas DataFrame called `df_loans`.

In [2]:
# Loading data
file_path = Path("../Resources/sba_loans_encoded.csv")
loans_df = pd.read_csv(file_path)
loans_df.head()

,Year,Month,Amount,Term,Zip,CreateJob,NoEmp,RealEstate,RevLineCr,UrbanRural,...,City_WILLITS,City_WILMINGTON,City_WINDSOR,City_WINNETKA,City_WOODLAND,City_WOODLAND HILLS,City_WRIGHTWOOD,City_Watsonville,City_YORBA LINDA,City_YUBA CITY
0,2001,11,32812,36,92801,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2001,4,30000,56,90505,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2001,4,30000,36,92103,0,10,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2003,10,50000,36,92108,0,6,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,7,343000,240,91345,3,65,1,0,2,...,0,0,0,0,0,0,0,0,0,0

Define the features set, by copying the `df_loans` DataFrame and dropping the `Default` column.

In [3]:
# Define features set
X = loans_df.copy()
X.drop("Default", axis=1, inplace=True)
X.head()

,Year,Month,Amount,Term,Zip,CreateJob,NoEmp,RealEstate,RevLineCr,UrbanRural,...,City_WILLITS,City_WILMINGTON,City_WINDSOR,City_WINNETKA,City_WOODLAND,City_WOODLAND HILLS,City_WRIGHTWOOD,City_Watsonville,City_YORBA LINDA,City_YUBA CITY
0,2001,11,32812,36,92801,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2001,4,30000,56,90505,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2001,4,30000,36,92103,0,10,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2003,10,50000,36,92108,0,6,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,7,343000,240,91345,3,65,1,0,2,...,0,0,0,0,0,0,0,0,0,0

Create the target vector by assigning the values of the `Default` column from the `df_loans` DataFrame.

In [4]:
# Define target vector
y = loans_df["Default"].values.reshape(-1, 1)
y[:5]

array([[0],
       [0],
       [0],
       [0],
       [0]], dtype=int64)

Split the data into training and testing sets.

In [5]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

Use the `StandardScaler` to scale the features data, remember that only `X_train` and `X_testing` DataFrames should be scaled.

In [6]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [7]:
# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

In [8]:
# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
X_train_scaled[:5]

array([[-0.27425568, -1.04066994,  1.51742188, ..., -0.02522969,
        -0.05050763, -0.02522969],
       [ 0.49106372,  1.57915182, -0.24594326, ..., -0.02522969,
        -0.05050763, -0.02522969],
       [ 0.23595725, -0.74957863,  0.12063964, ..., -0.02522969,
        -0.05050763, -0.02522969],
       [ 1.00127666,  1.28806051, -0.64074579, ..., -0.02522969,
        -0.05050763, -0.02522969],
       [ 0.23595725,  0.12369529,  0.15396535, ..., -0.02522969,
        -0.05050763, -0.02522969]])

## Fitting the Decision Tree Model

Once data is scaled, create a decision tree instance and train it with the training data (`X_train_scaled` and `y_train`).

In [10]:
# Create the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [11]:
# Fit the model
model = model.fit(X_train_scaled, y_train)

## Making Predictions Using the Tree Model

Validate the trained model, by predicting fraudulent loan applications using the testing data (`X_test_scaled`).

In [12]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

## Model Evaluation

Evaluate model's results, by using `sklearn` to calculate the confusion matrix, the accuracy score and to generate the classification report.

In [13]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [14]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          319           25
Actual 1           29          152

Accuracy Score : 0.8971428571428571
Classification Report
              precision    recall  f1-score   support

           0       0.92      0.93      0.92       344
           1       0.86      0.84      0.85       181

    accuracy                           0.90       525
   macro avg       0.89      0.88      0.89       525
weighted avg       0.90      0.90      0.90       525

## Visualizing the Decision Tree

In this section, you should create a visual representation of the decision tree using `pydotplus`. Show the graph on the notebook, and also save it in `PDF` and `PNG` formats.

In [15]:
# Create DOT data
dot_data = tree.export_graphviz(
    model, out_file=None, feature_names=X.columns, class_names=["0", "1"], filled=True
)

# Draw graph
graph = pydotplus.graph_from_dot_data(dot_data)

# Show graph
Image(graph.create_png())

InvocationException: Program terminated with status: 1. stderr follows: 'C:\Users\Chris' is not recognized as an internal or external command,
operable program or batch file.

In [28]:
import sys
print(sys.path)

['C:\\Users\\Chris Chan\\Documents\\MONASH_BOOTCAMP\\Fintech_Activities\\11_Week\\Day2\\Student Activities\\04-Stu_Predicting_Fraud\\Unsolved', 'C:\\Users\\Chris Chan\\anaconda3\\python38.zip', 'C:\\Users\\Chris Chan\\anaconda3\\DLLs', 'C:\\Users\\Chris Chan\\anaconda3\\lib', 'C:\\Users\\Chris Chan\\anaconda3', '', 'C:\\Users\\Chris Chan\\anaconda3\\lib\\site-packages', 'C:\\Users\\Chris Chan\\anaconda3\\lib\\site-packages\\locket-0.2.1-py3.8.egg', 'C:\\Users\\Chris Chan\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Chris Chan\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Chris Chan\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Chris Chan\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Chris Chan\\.ipython']

In [ ]:
# Saving the tree as PDF


# Saving the tree as PNG

## Analysis Question

Finally, analyze the model's evaluation results and answer the following question.

* Would you trust in this model to deploy a loans application approval solution in a bank?

 * **Your answer here**