# The Voice of the Blockchain

Canada lies at the frontier of the blockchain sector with increasing adoption rates and favorable regulations. In this activity you will retrieve news articles regarding blockchain in Canada for both English and French languages to capture the voice of the blockchain.

In [1]:
# Initial imports
import pandas as pd
from dotenv import load_dotenv
import os
from path import Path
from newsapi import NewsApiClient

In [2]:
# Load environment variables and retrieve the News API key
load_dotenv()
api_key = os.getenv("NEWS_API_KEY")

In [3]:
# Create the newsapi client
newsapi = NewsApiClient(api_key=api_key)

## Getting News Articles in English

In this section you have to fetch all the news articles using the News API with the keywords `blockchain`, `canada`, and `2020` in English.

In [11]:
# Fetch news about Canada and Blockchain in 2020 in the English language
ca_block_headlines = newsapi.get_everything(q="blockchain AND canada AND 2020", language="en")
#ca_block_headlines

# Show the total number of news
ca_block_headlines['totalResults']

179

## Getting News Articles in French

Fetching news in French will require keywords on this language, so retrieve all the news articles using the News API using the keywords `blockchain`, `canada`, and `2020`.

In [7]:
# Fetch news about Canada and Blockchain in 2020 in the French language
fr_block_headlines = newsapi.get_everything(q="blockchain AND canada AND 2020", language="fr")
#ca_block_headlines


# Show the total number of news
fr_block_headlines['totalResults']

3

## Create a DataFrame with All the Results

The first task on this section is to create a function called `create_df(news, language)` that will transform the `articles` list in a DataFrame. This function will receive two parameters: `news` is the articles' list and `language` is a string to specify the language of the news articles.

The resulting DataFrame should have the following columns:

* Title: The article's title
* Description: The article's description
* Text: The article's content
* Date: The date when the article was published, using the format `YYY-MM-DD` (eg. 2019-07-11)
* Language: A string specifying the news language (`en` for English, `fr` for French)

In [9]:
# Function to create a dataframe for english news and french news
def create_df(news, language):
    articles = []
    for article in news:
        try:
            title = article["title"]
            description = article["description"]
            text = article["content"]
            date = article["publishedAt"][:10]

            articles.append({
                "title": title,
                "description": description,
                "text": text,
                "date": date,
                "language": language
            })
        except AttributeError:
            pass

    return pd.DataFrame(articles)

Use the create_df() function to create a DataFrame for the English news and another for the French news.

In [12]:
# Create a DataFrame with the news in English
blockchain_en_df = create_df(ca_block_headlines["articles"], "en")

# Create a DataFrame with the news in French
# YOUR CODE HERE
blockchain_fr_df = create_df(fr_block_headlines["articles"], "fr")

Concatenate both DataFrames having the English news at the top and the French news at the bottom.

In [14]:
# Concatenate dataframes
blockchain_df = pd.concat([blockchain_en_df, blockchain_fr_df])

In [15]:
# Show the head articles (they are in English)
blockchain_df.head()

,title,description,text,date,language
0,INSIGHT: U.S. cryptocurrency regulatory path a...,*To read more by the Thomson Reuters Regulator...,NEW YORK(Thomson Reuters Regulatory Intelligen...,2021-04-06,en
1,"Must-know promotions, exits, and hires at firm...",Summary List PlacementHere's a rundown of news...,"Here's a rundown of news on hires, exits, and ...",2021-04-24,en
2,"Ethereum breaks past $3,000 to quadruple value",The launch of ether exchange-traded funds in C...,"SINGAPORE: Cryptocurrency ether broke past $3,...",2021-05-03,en
3,"Ethereum breaks past $3,000 to quadruple in va...","Ether, the token transacted on the ethereum bl...","Cryptocurrency ether broke past $3,000 on Mond...",2021-05-03,en
4,Blockchain ETF Lets Investors Cash In On Bitco...,Blockchain technology was all the rage back in...,Blockchain technology was all the rage back in...,2021-04-09,en

In [16]:
# Show the tail articles (they are in French)
blockchain_df.tail()

,title,description,text,date,language
18,Inno Lifecare Joins the Canadian Association o...,The Canadian Association of Medical Mask Manuf...,"A leader in vertical integration, machine lear...",2021-04-22,en
19,Mark Cuban Believes DOGE ‘Will Find Its Level’...,<ol><li>Mark Cuban Believes DOGE ‘Will Find It...,(Bloomberg) -- The Nordic region is losing its...,2021-04-17,en
0,Pourquoi les ransomwares prolifèrent-ils autan...,Plusieurs facteurs rendent ces cyberattaques d...,"Ce nest plus un secret, les ransomwares sont e...",2021-04-10,fr
1,Une approche féministe de la blockchain est-el...,"Aujourd'hui, on va parler de cryptomonnaies et...","Aujourd'hui, on va parler de cryptomonnaies et...",2021-05-02,fr
2,Les projets d'alimentation et de boissons TOJO...,"PEKIN, 9 avril 2021 /PRNewswire/ -- La restaur...","PEKIN, 9 avril 2021 /PRNewswire/ -- La restaur...",2021-04-09,fr

Save tha final DataFrame as a CSV file for further analysis in the forthcoming activities.

In [17]:
# Save to CSV
file_path = Path("../Resources/blockchain_news_en_fr.csv")
blockchain_df.to_csv(file_path, index=False, encoding='utf-8-sig')