In [1]:
banks = {"JP Morgan Chase": 327,
        "Bank of America": 302,
         "Citigroup": 173,
         "Well Fargo": 273,
         "Goldman Sachs": 87,
         "Morgan Stanley": 72,
         "U.S. Bancorp": 83,
         "TD Bank": 108,
         "PNC Financial Services": 67,
         "Capital One": 47,
         "FNB Corporation": 4,
         "First Hawaiian Bank": 3,
         "Ally Financial": 12,
         "Wachovia": 145,
         "Republic Bancorp": .97
        
        }
banks

In [2]:
banks["Citigroup"] = 170
banks

{'JP Morgan Chase': 327,
 'Bank of America': 302,
 'Citigroup': 170,
 'Well Fargo': 273,
 'Goldman Sachs': 87,
 'Morgan Stanley': 72,
 'U.S. Bancorp': 83,
 'TD Bank': 108,
 'PNC Financial Services': 67,
 'Capital One': 47,
 'FNB Corporation': 4,
 'First Hawaiian Bank': 3,
 'Ally Financial': 12,
 'Wachovia': 145,
 'Republic Bancorp': 0.97}

In [3]:
banks.update({"American Express": 33})
#OR banks['American Express'] = 33
banks

{'JP Morgan Chase': 327,
 'Bank of America': 302,
 'Citigroup': 170,
 'Well Fargo': 273,
 'Goldman Sachs': 87,
 'Morgan Stanley': 72,
 'U.S. Bancorp': 83,
 'TD Bank': 108,
 'PNC Financial Services': 67,
 'Capital One': 47,
 'FNB Corporation': 4,
 'First Hawaiian Bank': 3,
 'Ally Financial': 12,
 'Wachovia': 145,
 'Republic Bancorp': 0.97,
 'American Express': 33}

In [4]:
banks.pop("Wachovia")
#OR del banks["Wachovia"]
banks

{'JP Morgan Chase': 327,
 'Bank of America': 302,
 'Citigroup': 170,
 'Well Fargo': 273,
 'Goldman Sachs': 87,
 'Morgan Stanley': 72,
 'U.S. Bancorp': 83,
 'TD Bank': 108,
 'PNC Financial Services': 67,
 'Capital One': 47,
 'FNB Corporation': 4,
 'First Hawaiian Bank': 3,
 'Ally Financial': 12,
 'Republic Bancorp': 0.97,
 'American Express': 33}

In [5]:
banks

{'JP Morgan Chase': 327,
 'Bank of America': 302,
 'Citigroup': 170,
 'Well Fargo': 273,
 'Goldman Sachs': 87,
 'Morgan Stanley': 72,
 'U.S. Bancorp': 83,
 'TD Bank': 108,
 'PNC Financial Services': 67,
 'Capital One': 47,
 'FNB Corporation': 4,
 'First Hawaiian Bank': 3,
 'Ally Financial': 12,
 'Republic Bancorp': 0.97,
 'American Express': 33}

In [6]:
total_cap = 0
total_bank = 0
maximum_bank = 0
minimum_bank = 0
mininum_key = list()
maximum_key = list()
mega_caps = list()
large_caps = list()
mid_caps = list()
small_caps = list()

""" test and does not work
for x in banks.values():
    total_cap += x #total capitalisation value
    total_bank += 1 #counter

    if minimum_bank == 0:
        minimum_bank = x
    elif x < minimum_bank:
        minimum_bank = x
    elif x > maximum_bank:
        maximum_bank = x
"""
        

for bank_name, market_cap in banks.items():
# Calculate sum of market caps and number of banks in the dictionary
    total_cap += int(market_cap)
    total_bank += 1

    # Logic to determine min value and associated key
    if minimum_bank == 0:
        minimum_bank = market_cap
        minimum_key = bank_name
    elif market_cap < minimum_bank:
        minimum_bank = market_cap
        minimum_key = bank_name

    # Logic to determine max value and associated key
    if market_cap > maximum_bank:
        maximum_bank = market_cap
        maximum_key = bank_name

    # Group banks by categories of market caps
    if market_cap >= 300:
        mega_caps.append(bank_name)
    elif market_cap >= 10 and market_cap < 300:
        large_caps.append(bank_name)
    elif market_cap >= 2 and market_cap < 10:
        mid_caps.append(bank_name)
    elif market_cap < 2:
        small_caps.append(bank_name)

In [19]:
total_cap = 0
total_bank = 0
maximum_bank = 0
minimum_bank = 0

for x in banks.values():
    total_cap += x #total capitalisation value
    total_bank += 1 #counter

    if minimum_bank == 0:
        minimum_bank = x
    elif x < minimum_bank:
        minimum_bank = x
    if x > maximum_bank:
        maximum_bank = x
        
maximum_bank

327

In [8]:
maximum_bank

327

In [9]:
total_bank

15

In [10]:
max(banks, key=banks.get)
#maximum value bank

'JP Morgan Chase'

In [11]:
print(list(banks.keys())[list(banks.values()).index(maximum_bank)])
#note gives you only first instance of keys

JP Morgan Chase

In [12]:
max(banks.items(), key =lambda k:k[1])

('JP Morgan Chase', 327)

In [13]:
minimum_bank

0.97

In [14]:
min(banks, key=banks.get)
#maximum value bank

'Republic Bancorp'