 # Mastering Concatenation!

Two county organizations that you are a part of, Financial Leaders of America and Investors Leadership Council, have recently joined forces.

Eager to consolidate the dues and membership data, the treasurer has reached out to you––the group's FinTech guru––to create a master ledger containing financial data for both organizations.

Help the treasurer out by consolidating the dues and member data.

## Instructions

In [7]:
# Initial imports
import pandas as pd
from pathlib import Path

 ### Read in data

In [8]:
# Set the path for each CSV file
l_america = Path("../Resources/fin_leaders_america.csv")
l_members = Path("../Resources/fin_leaders_members.csv")
i_members = Path("../Resources/invstrs_leadership_members.csv")
i_leadership = Path("../Resources/invstrs_leadership.csv")

# Read in the data into Pandas DataFrames
df_america = pd.read_csv(l_america, index_col = 'MemberName')
df_members = pd.read_csv(l_members, index_col = 'MemberName')
df_imembers = pd.read_csv(i_members, index_col = 'MemberName')
df_lmembers = pd.read_csv(i_leadership, index_col = 'MemberName')

df_members.head()

                MembershipStatus
MemberName
Warren Buffet      Good Standing
Janet Yellen       Good Standing
Abigail Johnson    Good Standing
Larry Fink            Delinquent

 ### Concatenate dues data using `rows` axis and `inner` join

In [9]:
dues_data = pd.concat(
    [df_america,df_lmembers], axis='rows',join='inner'
)
dues_data = dues_data.reset_index()

 ### Concatenate member data using `rows` axis and `inner` join

In [10]:
m_data = pd.concat(
    [df_members,df_imembers], axis='rows',join='inner'
)
m_data = m_data.reset_index()
#reset_index() added as final_concat didn't work with out this

 ### Concatenate dues and member data using `columns` axis and `inner` join

In [11]:
final_concat = pd.concat(
    [dues_data, m_data], axis='columns', join='inner'
)
final_concat

           MemberName  DuesOwed  DuesPaid         MemberName MembershipStatus
0       Warren Buffet         0      2500      Warren Buffet    Good Standing
1        Janet Yellen       100      2400       Janet Yellen    Good Standing
2     Abigail Johnson         0      2500    Abigail Johnson    Good Standing
3          Larry Fink      2500         0         Larry Fink       Delinquent
4       Warren Buffet         0      2500      Warren Buffet    Good Standing
5        Janet Yellen       100      2400       Janet Yellen    Good Standing
6     Abigail Johnson         0      2500    Abigail Johnson    Good Standing
7          Larry Fink      2500         0         Larry Fink       Delinquent
8        Mario Draghi      2500         0       Mario Draghi       Delinquent
9   Michael Bloomberg      2500         0  Michael Bloomberg       Delinquent
10          Ray Dalio         0      2500          Ray Dalio    Good Standing