 # Mastering Concatenation!

Two county organizations that you are a part of, Financial Leaders of America and Investors Leadership Council, have recently joined forces.

Eager to consolidate the dues and membership data, the treasurer has reached out to you––the group's FinTech guru––to create a master ledger containing financial data for both organizations.

Help the treasurer out by consolidating the dues and member data.

## Instructions

In [14]:
# Initial imports
import pandas as pd
from pathlib import Path

 ### Read in data

In [15]:
# Set the path for each CSV file
fin_leaders_america_path = Path("../Resources/fin_leaders_america.csv")
investors_leadership_path = Path("../Resources/invstrs_leadership.csv")
fin_leaders_mem_path = Path("../Resources/fin_leaders_members.csv")
investors_leadership_mem_path = Path("../Resources/invstrs_leadership_members.csv")

# Read in the data into Pandas DataFrames
fin_leaders_dues = pd.read_csv(fin_leaders_america_path)
investors_leadership_dues = pd.read_csv(investors_leadership_path)
fin_leaders_mbr_status = pd.read_csv(fin_leaders_mem_path)
investors_leadership_mbr_status = pd.read_csv(investors_leadership_mem_path)

 ### Concatenate dues data using `rows` axis and `inner` join

In [16]:
combined_dues = pd.concat(
    [fin_leaders_dues, investors_leadership_dues], axis="rows", join="inner"
)
combined_dues

          MemberName  DuesOwed  DuesPaid
0      Warren Buffet         0      2500
1       Janet Yellen       100      2400
2    Abigail Johnson         0      2500
3         Larry Fink      2500         0
0      Warren Buffet         0      2500
1       Janet Yellen       100      2400
2    Abigail Johnson         0      2500
3         Larry Fink      2500         0
4       Mario Draghi      2500         0
5  Michael Bloomberg      2500         0
6          Ray Dalio         0      2500

 ### Concatenate member data using `rows` axis and `inner` join

In [17]:
combined_members = pd.concat(
    [fin_leaders_mbr_status, investors_leadership_mbr_status], axis="rows", join="inner"
)
combined_members

          MemberName MembershipStatus
0      Warren Buffet    Good Standing
1       Janet Yellen    Good Standing
2    Abigail Johnson    Good Standing
3         Larry Fink       Delinquent
0      Warren Buffet    Good Standing
1       Janet Yellen    Good Standing
2    Abigail Johnson    Good Standing
3         Larry Fink       Delinquent
4       Mario Draghi       Delinquent
5  Michael Bloomberg       Delinquent
6          Ray Dalio    Good Standing

 ### Concatenate dues and member data using `columns` axis and `inner` join

In [18]:
dues_member_status = pd.concat(
    [combined_dues, combined_members], axis="columns", join="inner"
)
dues_member_status

InvalidIndexError: Reindexing only valid with uniquely valued Index objects