# Instructor Do: Connecting Pandas with PostgreSQL

In [25]:
# Initial imports
import pandas as pd
import hvplot.pandas
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [26]:
load_dotenv()

True

In [27]:
print(os.environ)

environ({'TERM_PROGRAM': 'Apple_Terminal', 'SHELL': '/bin/bash', 'TERM': 'xterm-color', 'TMPDIR': '/var/folders/2y/kjh4fsjx6tjgqx1jx557sm8c0000gn/T/', 'CONDA_SHLVL': '2', 'CONDA_PROMPT_MODIFIER': '(pyvizenv) ', 'TERM_PROGRAM_VERSION': '433', 'TERM_SESSION_ID': '9830EC42-86FC-4BEB-ADE6-50255C02C10D', 'USER': 'kumarisurbhi', 'CONDA_EXE': '/Users/kumarisurbhi/opt/anaconda3/bin/conda', 'SSH_AUTH_SOCK': '/private/tmp/com.apple.launchd.gDiA9Tgo6Q/Listeners', '_CE_CONDA': '', 'CONDA_PREFIX_1': '/Users/kumarisurbhi/opt/anaconda3', 'PATH': '/Users/kumarisurbhi/opt/anaconda3/envs/pyvizenv/bin:/Users/kumarisurbhi/opt/anaconda3/bin:/Users/kumarisurbhi/opt/anaconda3/condabin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin', 'CONDA_PREFIX': '/Users/kumarisurbhi/opt/anaconda3/envs/pyvizenv', 'PWD': '/Users/kumarisurbhi', 'LANG': 'en_AU.UTF-8', 'XPC_FLAGS': '0x0', '_CE_M': '', 'XPC_SERVICE_NAME': '0', 'SHLVL': '1', 'HOME': '/Users/kumarisurbhi', 'CONDA_PYTHON_EXE': '/Users/kumarisurbhi/opt/anaconda3/bin/python', 'LOGNAME': 'kumarisurbhi', 'CONDA_DEFAULT_ENV': 'pyvizenv', '_': '/Users/kumarisurbhi/opt/anaconda3/envs/pyvizenv/bin/jupyter', 'JPY_PARENT_PID': '14652', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline', 'mapbox': 'pk.eyJ1IjoicGFua2FqNTEwIiwiYSI6ImNrbWd0NHdvNjAwaWQyb21xa25ubXJidGEifQ.HsBL0e-rfuKQnSjcB7NACw', 'postgres_pw': 'postgres'})

In [28]:
postgres_pw = os.environ['postgres_pw']

In [29]:
type(postgres_pw)

str

## Create a Connection to the PostgreSQL `estate_db` Database

In [30]:
# create a connection to the database using the create_engine function
engine = create_engine(f"postgresql://postgres:{postgres_pw}@localhost:5432/estate_db")

In [31]:
# Define a query that select all rows from the owners table
query = "SELECT * FROM owners;"

In [32]:
result = engine.execute(query)
for _r in result:
   print(_r)
result.close()

(102, 'John2', 'Smith2')
(141, 'Sally', 'Bell')
(232, 'Charles', 'Javier')
(353, 'Angela', 'Mackeral')
(424, 'Kelly', 'Delovan')
(551, 'Samuel', 'Hamgee')
(612, 'Cassie', 'Oberton')

In [34]:
# Define query to insert values within owners table
query2 = """INSERT INTO owners
(owner_id, first_name, last_name)
VALUES
(109, 'John9', 'Smith9')"""
result = engine.execute(query2)

In [35]:
result = engine.execute(query)
for _r in result:
   print(_r)
result.close()

(102, 'John2', 'Smith2')
(141, 'Sally', 'Bell')
(232, 'Charles', 'Javier')
(353, 'Angela', 'Mackeral')
(424, 'Kelly', 'Delovan')
(551, 'Samuel', 'Hamgee')
(612, 'Cassie', 'Oberton')
(109, 'John9', 'Smith9')

## Loading data from PostgreSQL into a Pandas DataFrames

In [64]:
# Load data into the DataFrame using the read_sql() method from pandas
owners_df = pd.read_sql(query, engine)

# Show the data of the new DataFrame
owners_df

        owner_name  estate_count
0   Charles Javier             1
1    Samuel Hamgee             1
2   Cassie Oberton             2
3    Kelly Delovan             1
4  Angela Mackeral             2
5       Sally Bell             1
6     John2 Smith2             0
7    newJohn Smith             0

## Loading data from PostgreSQL into a Pandas DataFrame to create a bar plot

In [65]:
# Define a query that counts how many estates are by owner
query = """
SELECT CONCAT(owners.first_name, ' ', owners.last_name) as owner_name, COUNT(estate_id) as estate_count
FROM owners
LEFT JOIN estates_new ON owners.owner_id = estates_new.owner_id
LEFT JOIN estate_type ON estates_new.estate_type_id = estate_type.estate_type_id
GROUP BY CONCAT(owners.first_name, ' ', owners.last_name)
"""
query

"\nSELECT CONCAT(owners.first_name, ' ', owners.last_name) as owner_name, COUNT(estate_id) as estate_count\nFROM owners\nLEFT JOIN estates_new ON owners.owner_id = estates_new.owner_id\nLEFT JOIN estate_type ON estates_new.estate_type_id = estate_type.estate_type_id\nGROUP BY CONCAT(owners.first_name, ' ', owners.last_name)\n"

In [66]:
# Load data into the DataFrame using the read_sql() method from pandas
estate_count_df = pd.read_sql(query, engine)

# Show the data of the the new dataframe
estate_count_df

        owner_name  estate_count
0   Charles Javier             1
1    Samuel Hamgee             1
2   Cassie Oberton             2
3    Kelly Delovan             1
4  Angela Mackeral             2
5       Sally Bell             1
6     John2 Smith2             0
7    newJohn Smith             0

In [67]:
# Create the bar chart
estate_count_df.hvplot.bar(
    x="owner_name",
    y="estate_count",
    xlabel="Owner Name",
    ylabel="Estate Count",
    title="Number of Estates per Owner",
    color="estate_count",
)

:Bars   [owner_name]   (estate_count)