In [17]:
import pandas as pd
import numpy as np

In [18]:
out = ['G1','G1','G1','G2','G2','G2']
in_ = [1,2,3,1,2,3]
hier_index = list(zip(out,in_))

In [19]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [20]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [21]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [22]:
df

             A         B
G1 1 -0.161430  2.163177
   2 -0.988358  1.299227
   3 -0.054703  0.874057
G2 1 -0.709302  1.288176
   2  1.418525  0.128913
   3 -0.759455 -1.316282

In [27]:
df.loc['G1'].loc[1]

A   -0.161430
B    2.163177
Name: 1, dtype: float64

In [35]:
#rest_index
df = df.reset_index()

In [39]:
df.set_index(['level_0','level_1'])

                        A         B
level_0 level_1
G1      1       -0.161430  2.163177
        2       -0.988358  1.299227
        3       -0.054703  0.874057
G2      1       -0.709302  1.288176
        2        1.418525  0.128913
        3       -0.759455 -1.316282

In [40]:
df.std()

level_1    0.894427
A          0.875855
B          1.204853
dtype: float64

In [41]:
df.mean()

level_1    2.000000
A         -0.209120
B          0.739544
dtype: float64

In [42]:
df = df.reset_index()

In [43]:
df

   index level_0  level_1         A         B
0      0      G1        1 -0.161430  2.163177
1      1      G1        2 -0.988358  1.299227
2      2      G1        3 -0.054703  0.874057
3      3      G2        1 -0.709302  1.288176
4      4      G2        2  1.418525  0.128913
5      5      G2        3 -0.759455 -1.316282

In [45]:
df.loc[1,'A']

-0.98835764562997

In [48]:
df.loc[[1,2],['A','B']]

          A         B
1 -0.988358  1.299227
2 -0.054703  0.874057

In [50]:
df.loc[1:3,['A','B']]

          A         B
1 -0.988358  1.299227
2 -0.054703  0.874057
3 -0.709302  1.288176

In [51]:
df.iloc[1,3]

-0.98835764562997

In [53]:
df.iloc[1:3,3:5]

          A         B
1 -0.988358  1.299227
2 -0.054703  0.874057